body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    padding: 1rem 1.5rem;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
        padding: 1rem 1rem;
    }
}